:root {
  --color-text-primany: 212121;
}
:root {
  --basecolor: 757575;
}
:root {
  --namecolor: 2196F3;
}
:root {
  --´namecolor: FFFFFF;
}
:root {
  --text-color: 757575;
}
:root {
  --titelcolor: 2196F3;
}
